<html ng-app="module1App">
    <head>
        <title>Assignment for Module 1</title>
    </head>
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
    <link rel="stylesheet" type="text/css" href="view.css">
    <body ng-controller="Controller" class="mainPart">
        <div >
            <h1>List the things you ate separated with ','</h1>
            <input type="text" ng-model="list" class="input"> 
            <button ng-click="Validate()" class="button">Check If Too Much</button>
            <br>
            <h2>{{Answer}}</h2>
        </div>
    </body>
</html>